h1{
    color: red;
}
.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space;
    gap: 5px;
    border: 3px solid rgb(0, 195, 255);
}
