*{
    background-color: rgb(218, 178, 185);
}
p::first-letter{
    color:aqua;
    font-size: 27px;
}
div p{
    background-color: rgb(225, 221, 0);
}
div #main{
    font-weight: 300;
}
h3+p{
    color: blue;
}
h4~p{
    border:2px solid brown;
}
h1,h4,p{
    text-align:right bottom;
}
.item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#unique{
    font-size: 200%;
}
h1{
    font-style: italic;
}
a:hover{
    color: black;
    border: 2px solid rgb(255, 0, 183);
}