.container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    height:200px;
    width:20px;
    align-items: center;
}
.text{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
}